.products {
  margin: 5rem;
}
.product-main {
  display: flex;
  margin: 8rem 0;
  gap: 5rem;
  justify-content: center;
}
.product-main-left {
  img {
    height: 500px;
    width: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
}
.product-main-right {
  p {
    &:nth-child(1) {
      font-size: 2rem;
      font-weight: bolder;
    }
    &:nth-child(2) {
      font-size: 1rem;
      width: 600px;
    }
    &:nth-child(3) {
      display: flex;
      align-items: center;
      margin: 1rem 0;
      gap: 0.4rem;

      span {
        border: 1px solid white;
        border-radius: 50%;
        background-color: green;
      }
    }
  }
}
.p-m-1{
    display: flex;
    align-items: center;
    
    p {
        &:nth-child(1) {
            margin-right: 1rem;
            font-size: 1.3rem;
        }
        &:nth-child(2) {
            text-decoration: line-through;
            color: #c3c1c1;
        }
    }
}
.p-m-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0;

    p {
        font-size: 1.3rem !important;
        border:2px solid white;
        border-radius: 50%;
        height: 50px;
        width: 50px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            color: skyblue;
            border:2px solid skyblue;
        }
    }
}
.p-m-3 {
    display: flex;
    margin: 3rem 0;
    gap: 1rem;

    button {
        width: 50%;
        height: 50px;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        cursor: pointer;

        &:active {
            transform: scale(0.99);
        }
    }
}
.p-m-4 {
    display: flex;
    flex-direction: column;

    p {
        margin: 0 !important;
    }
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
}
.p-m-5 {
    margin-top: 1rem;
    p {
        font-size: 1rem !important;
        font-weight: 500 !important;
        &:nth-child(1) {
            font: 1rem !important;
        }
    }
}